/* * {
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 40px 15px auto 40px;
        height: 97vh;
    }
    
    .header {
        grid-column: 1/5;
        grid-row: 1;
    }
    
    .subheader {
        grid-column: 1/5;
        grid-row: 2;
    }
    
    .main {
        grid-column: 1/5;
        grid-row: 3;
    }
    
    .navigation {
        grid-column: 1/5;
        grid-row: 4;
    }
}

@media only screen and (min-width: 481px) {
    .grid-container {
        display: grid;
        grid-template-columns: 80px auto;
        grid-template-rows: 40px 15px auto;
        height: 97vh;
    }
    
    .header {
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .subheader {
        grid-column: 1/3;
        grid-row: 2;
    }
    
    .main {
        grid-column: 2/3;
        grid-row: 3;
    }
    
    .navigation {
        grid-column: 1/2;
        grid-row: 3;
    }
} */

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 40px 15px auto 40px;
        height: 97vh;
    }
    
    .header {
        grid-column: 1/5;
        grid-row: 1;
    }
    
    .subheader {
        grid-column: 1/5;
        grid-row: 2;
    }
    
    .main {
        grid-column: 1/5;
        grid-row: 3;
    }
    
    .navigation {
        grid-column: 1/5;
        grid-row: 4;
            background-color: #483348;
            position: absolute;
            left: 37%;
            overflow: hidden;
            bottom: 0;
            width: 380px;
            font-family: "HelveticaNeue", "Helvetica Neue"; 
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
         }
         .navigation a {
        
            grid-column: 1/5;
            grid-row: 4;
            display: inline-block;
            content: center;
            padding: 16px 16px;
            text-decoration: none;
            padding-left: 20px;
            padding-right: 20px;
           
           
          
          }
          .navigation a:hover {
            background-color:  #d8b1d8;
           
          }
}

@media only screen and (min-width: 481px) {
    .grid-container {
        display: grid;
        grid-template-columns: 80px auto;
        grid-template-rows: 40px 15px auto;
        height: 97vh;
    }
    
    .header {
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .subheader {
        grid-column: 1/3;
        grid-row: 2;
    }
    
    .main {
        grid-column: 2/3;
        grid-row: 3;
    }
    
    .navigation 
    {
        grid-column: 2;
        height: 400px;
        width: 70px;
        position: absolute;
        padding-top: 20px;
        padding-bottom: 10px;
        left: 0;
        top: 90px;
    
        background-color: #483348;
        text-align: justify;
      
        }
        
        .navigation a {
         color: #f2f2f2;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        font-size: 24px;
        display: block;
        }
      .navigation a.active {
        background-color: #d8b1d8;
        color: white;
      }
      .navigation a:hover {
        background-color:  #d8b1d8;
        color: black;
        padding:12px;
      }

}