

body {
    background-color: rgb(235,232,247);
    color: black;
    font-family: Arial;
    font-size:16px;

    

}
h1 {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue";
    font-size: 40px;
}

h2 {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue";
    font-size: 31px;
}

h3 {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue";
    font-size: 25px;
}

a {
    color: black;
  
}
button {
    display: inline-block;
    background-color: #483348;
    border-radius: 10px;
    border: 4px single #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button:hover {
    background-color: #d8b1d8;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
 #logoimage{
     height: 140px;
     width:150px;
     position: absolute;
     top: -13px;
     left: -17px;
 }
     
#navimage {
    height: 40px;
    width: 40px;
}
#timeimage {
    height: 20px;
    width: 20px;
}
#loveimage {
    height: 20px;
    width: 20px;
}
  

     
 
 
  
  #settingimage{
      height: 35px;
      width: 35px;
      position: absolute;
      top: 30px;
      right: 30px;
   
  }
  
  .search {
    width: 200px;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 200px;

    border: 3px solid #483348;
    padding: 5px;
    height: 30px;
    color:#000000;

  }

  .searchTerm:focus{
    color: black;
    height: 30px;
  
  }

  .searchButton {
    width: 60px;
    border: 1px solid #483348;
    background: #483348;
    text-align: center;
    color: #fff;
    
    cursor: pointer;
    font-size: 16px;
  }

  .wrap{
    width: 30%;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -50%);
  }